
.debug #top-page{
    
    background-color:var(--section_backround_color);
    
}
.debug .row{
    border: 3px solid white;
}

.debug .box_img{
    background-color:var(--nav_background_color);
    min-height: 200px;
    width: 100%;
}


:root{
    --nav_background_color:#2C3E51 ;
    --top-page_background_color:#23B9C9 ;
    --section_backround_color:rgb(26, 188, 156);

}

#About{
  background-color: var(--section_backround_color);

}  

/* classe custom creata per ridefinire il colore degli elemento burgr
non piu neccesaria dal momento in cui andiamo ad aggiungere al tag
 nav la classer nav-dark

.cc_nav_toggler{
  filter:invert(1)
}
*/


/*custom class*/
.Cc_navbar{
    background-color: var(--nav_background_color);
}

li{
 list-style: none;

}
a{
 text-decoration: none;
 color: white;
}
.and{
    height: 2px;
    width: 15px;
    background-color: white;
    display: block;
    margin: 0 0.5rem;
}
.icon_star::after{
    height: 2px;
    width: 10%;
    background-color: white;
    display: inline-block;
    content:"";
    vertical-align: middle;
    

}
.icon_star::before{
    height: 2px;
    width: 10%;
    background-color: white;
    display: inline-block;
    content:"";
    vertical-align: middle;

}




.icon_star{
    vertical-align: middle;
    line-height: 40px;
}

